@keyframes animate-reorder {
  0% {
    color: green;
  }
  100% {
    color: green;
    transform: translate(-5%);
  }
}

.reorder-animate-B {
  position: absolute;
  right: 38px;
  top: 4px;
  overflow: visible;
  font-size: 0.6rem;
  animation: animate-reorder 0.5s infinite alternate;
}

.reorder-button-B {
  position: absolute;
  right: 15px;
  top: 5px;
  height: 20px;
  width: 20px;
  z-index: 5;
  cursor: pointer;
}

.type-of-wash-continue-andAddItems {
  position: absolute;
  width: 90vw;
  height: 82.5vh;
  margin-left: 5%;
  margin-top: 6.5%;
  background: #ffffff;
  border-radius: 15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.type-of-head {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 8%;
  margin-bottom: -5%;
  font-weight: 1000;
}
.type-of-button-addClothes {
  border-style: solid;
  border-color: #6759ff;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  height: 15vh;
  margin: 0.25rem 5%;
  background-color: #ffffff;
  color: #6759ff;
  font-weight: bold;
}

.type-of-image {
  height: 45%;
  width: 45%;
}
.type-of-button-addClothes1 {
  border-style: solid;
  border-color: green;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  height: 15vh;
  background-color: #ffffff;
  color: #6759ff;
  font-weight: bold;
  margin: 0.25rem 5%;
}
.type-of-wash-continue-addClothes {
  position: relative;
  background-color: #6759ff;

  border-radius: 0.25rem;
  color: #fff;
  padding: 1% 1%;
  border-width: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  font-weight: 600;
  margin-right: 5%;
}

.type-of-wash-continue-addClothes > span {
  font-weight: normal;
  font-size: 0.65rem;
}

.type-of-wash-con-addClothes {
  height: auto;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.addCloths-con {
  height: auto;
  width: 85%;

  align-self: center;
  display: flex;
}

.typeof-clothes-toadd {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .reorder-button-B {
    position: absolute;
    right: 8px;
    top: 10px;
    height: 25px;
    width: 25px;
    z-index: 5;
    cursor: pointer;
  }

  .typeof-clothes-toadd {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .type-of-button-addClothes1 {
    height: 10vh;
    width: 100vw;
    font-size: 0.65rem;
    border-radius: 0.5rem;
  }

  .type-of-button-addClothes {
    height: 10vh;
    width: 100vw;
    font-size: 0.65rem;
    border-radius: 0.5rem;
  }

  .type-of-button-addClothes1 > img {
    height: 35%;
    width: 50%;
    margin: 0;
    padding: 0;
    margin-bottom: -20%;
  }

  .type-of-button-addClothes > img {
    height: 35%;
    width: 50%;
    margin: 0;
    padding: 0;
    margin-bottom: -20%;
  }

  .type-of-wash-con-addClothes {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .addCloths-con {
    height: auto;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
  }

  .type-of-wash-continue-andAddItems {
    position: relative;
    width: 90vw;
    height: auto;
    margin-left: 5%;
    margin-top: 6.5%;
    background: #ffffff;
    border-radius: 15px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .type-of-head {
    color: #6759ff;
    font-size: 5vw;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 8%;
    margin-bottom: -5%;
    font-weight: 1000;
  }
  .type-of-wash {
    position: relative;
    height: 40vh;
    width: 85%;
    margin-top: 5%;
    margin-left: 8%;
    background: #ffffff;
    border-radius: 15px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    padding-top: 4%;
    padding-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8%;
    padding-bottom: 8%;
    color: #9359ff;
  }

  .type-of-button {
    border-style: solid;
    border-color: #6759ff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border-radius: 10px;
    height: 9.8vh;
    background-color: #ffffff;
    color: #6759ff;
    font-weight: bold;
    font-size: 0.6rem;
  }

  .type-of-image {
    height: 45%;
    width: 45%;
  }
  .type-of-button1 {
    border-style: solid;
    border-color: green;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border-radius: 9.5px;
    height: 9.8vh;
    color: #6759ff;
    font-weight: bold;
    font-size: 2.5vw;
    background-color: #ffffff;
  }
  .type-of-wash-continue {
    position: absolute;
    width: 80%;
    background-color: #6759ff;
    border-radius: 10px;
    color: #fff;
    padding: 3%;
    border-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5%;
    bottom: 2%;
  }
  .type-of-wash-con {
    margin-top: -30%;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .reorder-animate-B {
    position: absolute;
    right: 38px;
    top: 11px;
    overflow: visible;
    font-size: 0.7rem;
    animation: animate-reorder 0.5s infinite alternate;
  }
}
